
body { font-family: verdana;}
  h1 { text-align: center;
  width: 100%,
  background-color: #A2D6FF}

  p { font-family: verdana; }
  p.countdown {
    font-family: verdana;
    display: block;}




.accordion {
  background-color: #A2D6FF;
  font-size:20px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

#accordion2 {
  background-color: #faa796;
}

.panel {
  display: none;
}

#countdown {
  background-color: #ffd36e;
  font-size:20px;
  cursor: pointer;
  padding: 10 px;
  width: 100%;
  border: none;
  outline:none;
  height: 45px;
}

