
body { font-family: optima;}
  h1 { text-align: center;
  width: 100%,
  background-color: #A2D6FF;
  font-size: 42px;}

  p { font-family: optima; }
  p.countdown {
    display: block;}

.accordion {
  font-family: optima;
  background-color: #43aa8b;
  font-size:26px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  display: none;
  margin-top: -16px;
  padding: 10px;
}

#coursework_button {
  background-color: #90be6d;
}

#countdown {
  background-color: #f9c74f;
}

#coursework_panel {
  background-color: #90be6d80;
}

#experience_panel {
  background-color: #43aa8b80;
}

#countdownDisplay {
  background-color: #ffd36e80;
  padding: 10px;
}

